<div class="container">
<h2>The winter warmer</h2>
<div id="chat-box">
</div>
<br>
<form id="chat-form">
  <input type="text" placeholder="Username" id="user-name"></input>
  <br>
  <textarea placeholder="Your comment" id="user-msg"></textarea>
  <br>
  <button type="submit">Post</button>
</form>
</div>